@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*, *:before, *:after {
	box-sizing:border-box;
}

body {
	padding:$base-spacing-unit;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 2000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width: 100%;
	border:1px solid black;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	
}

.table-row-even {
	display: flex;
	width:100%;
}
.table-row-odd {
    display: flex;
    width: 100%;
    background-color: rgba(127, 132, 146, 0.486);
}
.table-data, .header__item {
    display= flex;
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	
	
	after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.desc::after {
		content: '(desc)';
	}

	.asc::after {
		content: '(asc)';
	}
	
}